NODE_ENV=development
PORT=3000
PUBLIC_BASE_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

MICROSOFT_ALLOWED_DOMAIN=grpotencial.com.br
MICROSOFT_TENANT_ID=common
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=

SIGHRA_WS_URL=
SIGHRA_USER=
SIGHRA_PASS=
SIGHRA_WEBHOOK_TOKEN=

RASTER_BASE_URL=
RASTER_METHOD=getEventoFimViagem
RASTER_LOGIN=
RASTER_PASSWORD=
