node_modules
**/node_modules
**/.pnpm-store

dist
build
**/dist
**/build

coverage
**/coverage

pnpm-lock.yaml
package-lock.json
yarn.lock

**/*.min.js
**/*.min.css

.git
.DS_Store
*.log

# Generated / data
*.sqlite
*.sqlite3
**/*.db
**/*.sqbpro
